@media screen and (min-width: 321px) and (max-width: 750px) {
  #navbar {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }

  .menu_section {
    flex-direction: column;
    gap: 40px;
  }

  .right_menu {
    width: 100%;
  }

  .menu_section .left_menu .btn {
    font-size: 14px;
  }

  .menu_section .left_menu {
    margin-top: 1rem;
    gap: 40px;
    width: 100%;
  }

  #check {
    width: 20px;
    height: 20px;
  }

  table tbody td button {
    padding: 5px;
    margin: 10px 0;
    width: 60%;
    cursor: pointer;
  }

  .form_section {
    top: 90%;
  }

  .form_section .card {
    width: 100%;
  }

  .card-body {
    flex-direction: column;
    width: 100% !important;
    padding: 0 !important;
  }

  .card-body .left {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    padding-top: 30px;
  }

  .card-body .right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .right_menu input {
    font-size: 1rem;
    width: 70%;
  }

  .form_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form_btn .reg_btn {
    width: 90%;
    font-size: 15px;
  }

  .form_btn .up_btn {
    width: 90%;
    font-size: 15px;
  }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
  #navbar {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }

  .menu_section {
    flex-direction: column;
    gap: 40px;
  }

  .right_menu {
    width: 100%;
  }

  .right_menu .sBtn{
    font-size: 14px;
    padding: 5px;
    width: 10%;
  }

  .right_menu input {
    font-size: 1rem;
    width: 35%;
  }

  .menu_section .left_menu .btn {
    font-size: 14px;
  }

  .menu_section .left_menu {
    margin-top: 1rem;
    gap: 40px;
    width: 100%;
  }

  #check {
    width: 20px;
    height: 20px;
  }

  table tbody td button {
    padding: 5px;
    margin: 10px 0;
    width: 60%;
    cursor: pointer;
  }

  .form_section {
    width: 50vw;
    top: 30%;
    left: 45%;
  }

  .right .form label{
    font-size: 14px;
  }

  .right .form input{
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form_section .card {
    width: 100%;
  }

  .card-body {
    flex-direction: column;
    width: 100% !important;
    padding: 0 !important;
  }

  .card-body .left {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    padding-top: 30px;
  }

  .card-body .right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  

  .right .form {
    width: 80%;
  }

  .form_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .form_btn .reg_btn {
    width: 90%;
    font-size: 16px;
  }

  .form_btn .up_btn {
    width: 90%;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  #navbar {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }

  .menu_section {
    flex-direction: column;
    gap: 40px;
  }

  .right_menu {
    width: 100%;
    justify-content: center;
  }

  .right_menu .sBtn{
    padding: 2px;
  }

  .menu_section .left_menu .btn {
    font-size: 14px;
  }

  .menu_section .left_menu {
    margin-top: 1rem;
    gap: 40px;
    width: 100%;
  }

  #check {
    width: 20px;
    height: 20px;
  }

  table tbody td button {
    padding: 5px;
    margin: 10px 0;
    width: 60%;
    cursor: pointer;
  }

  .form_section {
    top: 90%;
  }

  .form_section .card {
    width: 100%;
  }

  .card-body {
    flex-direction: column;
    width: 100% !important;
    padding: 0 !important;
  }

  .card-body .left {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    padding-top: 30px;
  }

  .card-body .right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .right_menu input {
    font-size: 1rem;
    width: 65%;
  }

  .form_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form_btn .reg_btn {
    width: 90%;
    font-size: 15px;
  }

  .form_btn .up_btn {
    width: 90%;
    font-size: 15px;
  }
}
